@model Pbl.Models.Prova

@{
    ViewBag.Title = "AdicionarSimulado";
}

<h3>
    Simulado
    <small>Formulário para Cadastro de Simulados</small>
</h3>
<form action="" method="post" class="form-horizontal" onsubmit="return validaForm();">
    <div class="panel panel-default">
        <div class="panel-heading">Cadastro</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo de Prova</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("idTipoProva", (SelectList)ViewBag.idTipoProva, htmlAttributes: new { @class = "form-control input-sm", @style = "max-width: 200px;" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">N° de Questões</label>
                    <div class="col-sm-10">
                        <input type="number" required name="numeroQuestoes" class="form-control input-sm" min="1" style="max-width:60px;" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Módulo</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("idModulo", (SelectList)ViewBag.idModulo, htmlAttributes: new { @class = "form-control input-sm", @style = "max-width: 200px;" })
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
    <!-- END panel-->
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Cadastrar
        </button>
    </div>
</form>

@section scripts{
    @Scripts.Render("~/bundles/site")
}