@model Pbl.Models.ViewModel.GerenciarNotasViewModel

@{
    ViewBag.Title = "DetalhesMed";
}

<h2>DetalhesMed</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Modulo
        </th>
        <th>
            Nota
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.controleNotas)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.controleNotas.Modulo.descModulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nota)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "DetalhesModulo", new { id = item.controleNotas.idControleNotas })
            </td>
        </tr>
    }


</table>
