@model Pbl.Models.ViewModel.DisciplinaViewModel
@{
    ViewBag.Title = "Nova Disciplina";
}

<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>



<h3>
    Nova Disciplina
    <small>Formulário para Cadastro de Disciplinas</small>
</h3>
<div class="panel panel-default">
    <div class="panel-heading">Nova Disciplina</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            @using (Html.BeginForm("Create", "ControleDisciplinas"))
            {
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="disciplina.descDisciplina" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo Disciplina</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(c => c.disciplina.idTipoDisciplina, new SelectList(Model.listaTipoDisciplina, "idTipoDisciplina", "descTipoDisciplina"), "", new { @class = "form-control selectpicker" })
                    </div>
                </div>
            </fieldset>
            <!-- Success button with label -->
            <button type="submit" value="salvar" class="btn btn-labeled btn-success">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>Cadastrar
            </button>
            }
        </form>
    </div>
</div>
<!-- END panel-->


