@model Pbl.Models.Disciplina
@{
    ViewBag.Title = "Nova Disciplina";
}

<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>



<h3>
    Nova Disciplina
    <small>Formulário para Cadastro de Disciplinas</small>
</h3>
@using (Html.BeginForm("Create", "ControleDisciplinas"))
{
    <div class="panel panel-default">
        <div class="panel-heading">Nova Disciplina</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" required name="descDisciplina" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo Disciplina</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(c => c.idTipoDisciplina, (SelectList)ViewBag.listaTipoDisciplina, "", new { @class = "form-control selectpicker", @required = "required"})
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- END panel-->
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Cadastrar
        </button>
    </div>
}

