@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-brand">
            <a href="#">
                <img src="~/Content/img/logo.png" alt="#" />
            </a>
        </div>
    </div>

    <div class="wrapper">
        <form action="" method="post" class="form-styles">
            <p class="title">Login</p>

                    <input name="login" type="text" placeholder="Login" />
                    <i class="fa fa-user"></i>

                    <input name="senha" type="text" placeholder="Senha" />
                    <i class="fa fa-key"></i>

                    <a href="#">Esqueceu sua senha?</a>

                <button>
                    <i class="spinner"></i>
                    <span class="state">Logar</span>
                </button>
        </form>
     </div>
</body>
</html>
