<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/89cf99d8-0e94-44be-8f94-dc6436bf5981/resourcegroups/FamervResources/providers/Microsoft.Web/sites/MedUnirv</ResourceId>
    <ResourceGroup>FamervResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://medunirv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>medunirv.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MedUnirv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MedUnirv</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FamervEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=famerv.database.windows.net;Initial Catalog=Famerv;Persist Security Info=True;User ID=pblsolution;Password=!Burro123;Application Name=EntityFramework" Name="Data Source=famerv.database.windows.net;Initial Catalog=Famerv;Persist Security Info=True;User ID=pblsolution;Password=!Burro123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Pbl.Models.FamervEntities, Pbl" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FamervEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelFamerv.csdl|res://*/Models.ModelFamerv.ssdl|res://*/Models.ModelFamerv.msl;provider=System.Data.SqlClient;provider connection string="Data Source=famerv.database.windows.net;Initial Catalog=Famerv;Persist Security Info=True;User ID=pblsolution;Password=!Burro123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>