@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<h3>
    Aluno
    <small>Formulário para Cadastro de Alunos</small>
</h3>
<form action="" method="post" class="form-horizontal" onsubmit="return validaForm();">
    <div class="panel panel-default">
        <div class="panel-heading">Cadastro</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" required name="nomeAluno" placeholder="Nome" class="form-control input-sm" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">CPF</label>
                    <div class="col-sm-10">
                        <input type="text" required name="cpfAluno" placeholder="CPF" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" onblur="msgErroCpf();" class="form-control input-sm" />
                        <span id="msgCpf" class="text-danger small"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Matrícula</label>
                    <div class="col-sm-10">
                        <input type="text" required name="matriculaAluno" placeholder="Matrícula" class="form-control input-sm" />
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
    <!-- END panel-->
    <hr class="hidden-print" />
    <div class="clearfix">
        <button type="button" class="btn btn-labeled btn-default" onclick="history.back();">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Voltar
        </button>
        <button type="submit" id="btnSubmit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Cadastrar
        </button>
    </div>
</form>

@section scripts{
@Scripts.Render("~/bundles/jqueryMask")
@Scripts.Render("~/bundles/site")
<script>
    jQuery(function ($) {
        $("#cpf").mask("999.999.999-99");
    });
    function validaForm() {
        if (!validarCPF('cpf')) {
            document.getElementById('cpf').focus();
            return false;
        }
    }

    function msgErroCpf() {
        if (!validarCPF('cpf')) {
            document.getElementById('msgCpf').innerText = "CPF inválido";
            return false;
        } else {
            document.getElementById('msgCpf').innerText = "";
        }
    }
    
</script>    
}